<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="org.apache.cordova.plugin" version="0.2.3">
  <name>Device</name>
  <description>Cordova Device Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,device</keywords>
  <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Echo">
                <param name="android-package" value="org.apache.cordova.plugin.Echo"/>
            </feature>
			<plugins>
				<plugin name="Echo" value="org.apache.cordova.plugin.Echo" />
			</plugins>
        </config-file>
        <source-file src="src/android/Calendar.java" target-dir="src/org/devgirl/calendar" />
    </platform>
</plugin>
